%h3 Top 10 commentators

%table.table
  %thead
    %tr
      %th #
      %th Author
      %th Comments
  %tbody
    - @users.each_with_index do |user, index|
      %tr
        %td= index + 1
        %td= user.name
        %td= user.count_of_comments